<h1>Chat</h1>

<section id="chat-show">
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">
      <h2>{{ chats.chat.title }}</h2>
    </div>
  </div>
  <div class="row">
    <button ng-click="chats.joinChat()" class="small-12 medium-8 medium-offset-2 columns">Join</button>
  </div>
  <div class="row">
    <ul class="chat-window small-12 medium-8 medium-offset-2 columns no-bullet">
      <li ng-repeat="message in chats.messages">
        <ul class="no-bullet">
          <li>{{ message.content }}</li>
          <li>{{ message.author }}</li>
          <li>{{ message.timestamp | dd mm yyyy}}</li>
        </ul>
      </li>
    </ul>
  </div>

</section>
<!-- ng-show="chats.hasJoinedThisChat()" -->
<div id="join-chat" class="sticky-chat-footer">
  <div class="row">
    <button class="button small-12 medium-8 medium-offset-2 columns" ng-click="chats.joinChat()">Join</button>
  </div>
</div>
<!-- ng-show="chats.hasNotJoinedThisChat()" -->
<div id="new-message" class="sticky-chat-footer">
  <form id="new-message-form" ng-submit="chats.addMessage()">
    <div class="row">
      <div>
        <input type="text" ng-model="chats.newMessage.content" aria-label="new-message-box" placeholder="Share something..." class="small-12 medium-8 medium-offset-2 columns">
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <button type="submit" class="button small-12 medium-8 medium-offset-2 columns">Send</button>
      </div>
    </div>
  </form>  
</div>
