<h1>Home</h1>

<section id="home" class="row">
  <ul class="small-11 small-centered medium-8 columns no-bullet">
    <li><a class="button" href="#" ui-sref="chats">Browse Chats</a></li>
    <li><a class="button" href="#" >Start New Chat</a></li>
    <li id="new-chat">
      <form id="new-chat-form" ng-submit="chats.create()">
        <div class="row">
          <div class="small-11 medium-8 columns">
            <label for="new-chat-title">Subject for the new Chat:</label>
            <input type="text" id="new-chat-title" placeholder="e.g. Managing Anxiety" ng-model="chats.chat.title">
          </div>
        </div>
        <div class="row">
          <div class="small-11 medium-8 columns">
            <button class="button" type="submit">Start</button>
          </div>
        </div>
      </form>
    </li>
  </ul>
</section>