<section id="register" ng-hide="users.checkLoggedIn()">
{{users.all}}
  <div class="row">
    <div class="small-10 small-centered medium-8 columns">
      <h2>Register</h2>
    </div>
  </div>
  <form id="register-form" name="users.registerForm" ng-submit="users.register()" novalidate>

    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
        <label for="register-username">Username</label>
        <input type="text" id="register-username" name="username" placeholder="username address">
        <div class="ng-message-error error" ng-messages="users.registerForm['username'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['username'].$invalid)">
          <p ng-message="required">Username address is required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
        <label for="register-email">Email</label>
        <input type="text" id="register-email" name="email" placeholder="email address">
        <div class="ng-message-error error" ng-messages="users.registerForm['email'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['email'].$invalid)">
          <p ng-message="required">Email address is required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
        <label for="register-password">Password</label>
        <input type="password" id="register-password" name="password" placeholder="password">
        <div class="ng-message-error error" ng-messages="users.registerForm['password'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['password'].$invalid)">
          <p ng-message="required">Password is required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2 columns">
        <label for="register-password-confirmation">Password confirmation</label>
        <input type="password" id="register-password-confirmation" name="password-confirmation" placeholder="password">
        <div class="ng-message-error error" ng-messages="users.registerForm['password'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['password'].$invalid)">
          <p ng-message="required">Password is required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-offset-1 medium-8 medium-offset-2">
        <button type="submit" class="button round">Register</button>
      </div>
    </div>
  </form>
</section>